
<div [style.display]>
    <div class="modal-dialog">
      <div class="modal-content" style="background-color:rgb(23, 6, 133);">
        
        <div class="modal-header" style="margin-top: auto ; text-align:margin-center;">

          <div>
            <img class="centermid" src="assets/img/brand/mama.png" style="height: 110px;" > 

        </div> 
        <h1></h1>
        <p  class="centermid" style="color:#f5f8f9; font-size: 1.875em; text-align:inherit; ">Do you want to logout?</p> 
        </div>
        <div class="modal-footer" style="margin-right: #552baf;">
          
          <button  type="submit" class="btn btn-primary" (click)="refreshPage()">Logout</button>
          <button type="button" class="btn btn-danger"   [routerLink]="['/machines']">Cancel</button>
          
        </div>
        </div>
        
        </div>
        
        </div> 

       

        